In [1]:
import pandas as pd

In [3]:
joined_df = pd.read_csv('data/expmortjoin.csv')

joined_df

,country,code,region,income,year,che_gdp(%),hk_gdl(%),che_pc_usd,che,gdp_pc_usd,che_usd,Year,Number,Percent_of_Total,Age_Stnd_Per_100k,Death_rate_per_100k
0,Argentina,ARG,AMR,Upper-middle,2011,9.4,0.0,"1,203","205,225","12,769","49,931",2011,14572,4.600982,28.986910,35.265788
1,Argentina,ARG,AMR,Upper-middle,2012,9.8,0.0,"1,362","259,235","13,859","57,139",2012,13986,4.409984,27.442447,33.495233
2,Argentina,ARG,AMR,Upper-middle,2013,9.8,0.0,"1,415","327,497","14,469","59,988",2013,14654,4.532254,28.102552,34.728386
3,Argentina,ARG,AMR,Upper-middle,2014,9.7,0.0,"1,281","442,857","13,241","54,841",2014,14816,4.600742,27.769779,34.748745
4,Argentina,ARG,AMR,Upper-middle,2017,10.2,0.0,"1,495","1,090,728","14,610","65,854",2017,14652,4.288123,25.605289,33.347642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,Malaysia,MYS,WPR,Upper-middle,2010,3.2,0.5,285,"26,366","9,006","8,185",2010,7414,10.820514,33.202675,25.933380
352,Qatar,QAT,EMR,High,2014,2.4,0.4,"2,256","18,188","93,126","4,997",2014,47,1.986475,7.086269,1.911192
353,Qatar,QAT,EMR,High,2013,2.1,0.4,"2,027","15,019","97,631","4,126",2013,34,1.593999,4.570641,1.455122
354,Qatar,QAT,EMR,High,2012,1.7,0.5,"1,714","11,889","98,041","3,266",2012,26,1.280158,5.143695,1.183931
355,Qatar,QAT,EMR,High,2011,1.6,0.3,"1,488","9,771","92,993","2,684",2011,27,1.385326,5.888129,1.326214